/* da cambiare su ogni html diverso*/
a.navListNotizie {
	font-size: 1.4rem;
	font-weight: bold;
	color: black;
}

.navListFlusso, .navListRecensioni, .navListDistributori,
.navListStatistiche, .navListUtenti  {
	font-weight: 500;
	color: #333;
}

/* Mappa */
body { 
    margin: 0; 
    padding: 0; 
}
#map { 
    height: 100%; 
    width: 100%; 
}
.mapboxgl-popup {
	max-width: 400px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	}