#adminUtils {
    overflow-y: auto; 
    overflow-x: hidden;
}

/* da cambiare su ogni html diverso*/
a.navListUtenti {
	font-size: 1.4rem;
	font-weight: bold;
	color: black;
}

.navListFlusso, .navListNotizie, .navListDistributori,
.navListStatistiche, .navListRecensioni  {
	font-weight: 500;
	color: #333;
}