body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("https://c.wallhere.com/photos/e4/d3/night_long_exposure_Lightscape_street_street_light_Gas_station-1287017.jpg!d?__cf_chl_jschl_tk__=aedbce1655d412fd97e575425413cf59c04baadd-1578576954-0-Aep4kVleeNwJsUVQxFTSumFLP0Gil6qeUKe9kSQnd8Kk5KP-1XsjxgXxpGqus5cG_KWiQk3XakkcmdMnBOA1emfwBADE-C2ItL6Ii8wjJlN97LDLt0kGsnKVjKZl74QyUoqSkUqpJ1v_RGOrl2BtG6MIsZxD7exmf0ipHkQZL0d_Q-3CIFBaawDxm07I-R7jk_hN_3kosuX6pwjC5NM8NkMnlBfU8RpzJ5CyD1o0SqvOu_nWFnvIVnKTqYjWhWjO0i-nD7TzpDfs5n-8tX9wlpL9adaOHYetRmwtJ5ncC_RdJIM18JzNWRv9HftVkg6uMez_RwhqPIlYlq5j6jj2qu2n98J5wTjANcBUnZknROaKUTPWB7j-R4Db5xUNXpQ7RA");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }